* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font: 13px verdana;
  background-color: #ccc;
  background-image: url("images/bgnoise.gif");
}
canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
button {
  display: inline-block;
  text-align: center;
  padding: 5px 8px 6px 8px;
  color: #777;
  font-weight: bold;
  font-size: 15px;
  font-family: verdana;
  text-shadow: 0 1px 0 rgba(255,255,255,0.50);
  background-color: #ddd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
  box-shadow: 0 2px 1px rgba(0,0,0,0.16), 0 0 1px rgba(0,0,0,0.50), inset 0 1px 0 rgba(255,255,255,0.55);
  border-radius: 20px;
  border: 0px;
}
button:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#d3d3d3));
}
button:active {
  box-shadow: 0 1px 1px rgba(255,255,255,0.35), inset 0 0 1px rgba(0,0,0,0.50), inset 0 1px 4px rgba(0,0,0,0.40);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cacaca), to(#d5d5d5));
}
#workspace {
  position: absolute;
  top: 16px;
  left: 144px;
  right: 224px;
  bottom: 16px;
  overflow: hidden;
  border: 1px solid #777;
  background-color: #fff;
  box-shadow: 0px 1px 5px #888;
}
#drawFurther {
  -webkit-transition: opacity 0.5s;
  opacity: 1;
}
#drawFurther.hidden {
  opacity: 0.4;
}
.mini {
  position: relative;
  border: 1px solid #777;
  background-color: #fff;
}
#sidebar {
  position: absolute;
  top: 16px;
  left: 16px;
  bottom: 16px;
  width: 112px;
  overflow-y: auto;
}
#sidebar #definitions .definition {
  position: relative;
  width: 96px;
  height: 96px;
  margin-bottom: 16px;
  border: 1px solid #777;
  background-color: #fff;
  box-shadow: 0px 1px 5px #888;
  opacity: 0.5;
}
#sidebar #definitions .definition.focused {
  opacity: 1;
  border: 1px solid #000;
}
#sidebar #addDefinition {
  margin-left: 34px;
}
#sidebarRight {
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 16px;
  width: 192px;
  overflow-y: auto;
}
#sidebarRight .component {
  position: relative;
  padding: 4px 0px;
  margin-left: 20px;
  border-bottom: 1px solid #bbb;
}
#sidebarRight .component.highlighted {
  background-color: rgba(255,0,0,0.30);
}
#sidebarRight .component .disclosure {
  position: absolute;
  left: -20px;
  width: 20px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  color: #666;
}
#sidebarRight .component .disclosure.expanded:after {
  content: "▼";
}
#sidebarRight .component .disclosure.collapsed:after {
  content: "▶";
}
#sidebarRight .component .mini {
  width: 48px;
  box-shadow: 0px 1px 5px #888;
}
#sidebarRight .children {
  margin-left: 20px;
}
