body {
  background-image: url("images/bgnoise.gif");
}
body {
  overflow: hidden;
  font: 13px "Optima", "Helvetica", "Arial", sans-serif;
  background-color: #ddd;
}
#workspace {
  position: absolute;
  top: 16px;
  left: 132px;
  right: 16px;
  bottom: 16px;
  overflow: hidden;
  outline: 1px solid #777;
  background-color: #fff;
  box-shadow: 0px 0px 5px #888;
}
#sidebar {
  position: absolute;
  top: 16px;
  left: 16px;
  bottom: 16px;
  width: 100px;
}
#sidebar #definitions canvas {
  margin-bottom: 16px;
  outline: 1px solid #777;
  background-color: #fff;
  box-shadow: 0px 0px 5px #888;
}
#sidebar #definitions canvas.focused {
  outline: 1px solid #000;
}
#sidebar #addDefinition {
  width: 36px;
  height: 36px;
  font-size: 30px;
  color: #999;
  text-align: center;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 5px #888;
}
