* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font: 13px "Optima", "Helvetica", "Arial", sans-serif;
  background-color: #ccc;
  background-image: url("images/bgnoise.gif");
}
canvas {
  width: 100%;
  height: 100%;
}
button {
  display: inline-block;
  text-align: center;
  padding: 5px 8px 6px 8px;
  color: #777;
  font-weight: bold;
  font-size: 15px;
  font-family: verdana;
  text-shadow: 0 1px 0 rgba(255,255,255,0.50);
  background-color: #ddd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
  box-shadow: 0 2px 1px rgba(0,0,0,0.16), 0 0 1px rgba(0,0,0,0.50), inset 0 1px 0 rgba(255,255,255,0.55);
  border-radius: 20px;
  border: 0px;
}
button:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#d3d3d3));
}
button:active {
  box-shadow: 0 1px 1px rgba(255,255,255,0.35), inset 0 0 1px rgba(0,0,0,0.50), inset 0 1px 4px rgba(0,0,0,0.40);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cacaca), to(#d5d5d5));
}
#workspace {
  position: absolute;
  top: 16px;
  left: 132px;
  right: 16px;
  bottom: 16px;
  overflow: hidden;
  border: 1px solid #777;
  background-color: #fff;
  box-shadow: 0px 1px 5px #888;
}
#sidebar {
  position: absolute;
  top: 16px;
  left: 16px;
  bottom: 16px;
  width: 100px;
  text-align: center;
}
#sidebar #definitions .definition {
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
  border: 1px solid #777;
  background-color: #fff;
  box-shadow: 0px 1px 5px #888;
  opacity: 0.65;
}
#sidebar #definitions .definition.focused {
  opacity: 1;
  border: 1px solid #000;
}
#sidebar #addDefinition {
  width: 36px;
  height: 36px;
  font-size: 30px;
  color: #999;
  text-align: center;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 5px #888;
}
