spacing = 16px
sidebar = 120px
sidebarDefinition = 100px

shadow()
  box-shadow: 0px 1px 5px #888

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body
  overflow: hidden
  font: 13px "Optima", "Helvetica", "Arial", sans-serif
  background-color: #ccc
  // background-image: url("http://noisepng.com/100-90-5.png")
  background-image: url("images/bgnoise.gif")

canvas
  position: absolute
  top: 0px
  left: 0px


button
  display: inline-block
  text-align: center
  padding: 5px 8px 6px 8px
  color: #777
  font-weight: bold
  font-size: 15px
  font-family: verdana
  text-shadow: 0 1px 0 rgba(255,255,255,0.5)
  background-color: #ddd
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc))
  box-shadow: 0 2px 1px rgba(0,0,0,0.16), 0 0 1px rgba(0,0,0,0.5), inset 0 1px 0 rgba(255,255,255,0.55)
  border-radius: 20px
  border: 0px
  
  &:hover
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#d3d3d3))
  &:active
    box-shadow: 0 1px 1px rgba(255,255,255,0.35), inset 0 0 1px rgba(0,0,0,0.5), inset 0 1px 4px rgba(0,0,0,0.4)
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cacaca), to(#d5d5d5))
    // padding: 6px 8px 5px 8px


#workspace
  position: absolute
  top: spacing
  left: spacing*2 + sidebar
  right: spacing
  bottom: spacing
  overflow: hidden
  border: 1px solid #777
  background-color: #fff
  shadow()


#sidebar
  position: absolute;
  top: spacing
  left: spacing
  bottom: spacing
  width: sidebar
  text-align: center
  overflow-y: scroll
  
  #definitions
    .definition
      position: relative
      width: sidebarDefinition
      height: sidebarDefinition
      margin-bottom: spacing
      border: 1px solid #777
      background-color: #fff
      shadow()
      opacity: 0.5
      &.focused
        opacity: 1.0
        border: 1px solid #000
  #addDefinition
    margin-right: 24px
  